{%extends "layout.html" %}
{%block body %}
<style>
    .timeline {
        height: 17px;
        background-color: black;
        background-image: linear-gradient(to right, black, white);
        position: absolute;
        top: 90%;
        left: 50%;
        width: 1250px;
        margin-left: -635px;
        margin-right: -615px;
        z-index: -1;
    }

    .era-background {
        height:15px;
        background-color:gray;
        position:absolute;
        top:89%;
        left:50%;
        width:1250px;
        margin-left:-635px;
        margin-right:-615px;
        z-index:-1;
    }

    .era {
        height: 15px;
        background-color: #ffc87c;
        position: absolute;
        top: 89%;
        left: 50%;
        z-index: 0;
        border-right: 1px solid black;
    }

    .period-background {
        height: 15px;
        background-color: gray;
        position: absolute;
        top: 87%;
        left: 50%;
        width: 1250px;
        margin-left: -635px;
        margin-right: -615px;
        z-index: -1;
    }

    .period {
        height: 15px;
        background-color: #ffaf20;
        position: absolute;
        top: 87%;
        left: 50%;
        z-index: 0;
        border-right: 1px solid black;
    }

    /*
    ul {
        display: flex;
        flex-direction: column;
    }

    ul [value = "first-life"] {
        order: 1;
    }

    ul [value = ""]
    */

    .timeline-era {
        background-color: #dda0dd;
        height: 35px;
        position: absolute;
        left: 50%;
        z-index: -1;
    }

    .text-left {
        position: absolute;
        top: 88.5%;
        left: 50%;
        margin-left: -700px;
    }

    .text-right {
        position: absolute;
        top: 88.5%;
        right: 50%;
        margin-right: -685px;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .menu-eras {
        background-color: #ffa500;
        color: black;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    .menu-eras-content {
        display: none;
        position: absolute;
        background-color: #ffc87c;
        min-width: 85px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 10px 16px;
    }

    .menu-periods {
        background-color: #ffa500;
        color: black;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    .menu-periods-content {
        display: none;
        position: absolute;
        background-color: #ff8c00;
        min-width: 85px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 10px 16px;
    }

    .menu-first {
        background-color: purple;
        color: black;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    .menu-first-content {
        display: none;
        position: absolute;
        background-color: #dda0dd;
        min-width: 85px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 10px 16px;
    }

    .menu-extin {
        background-color: purple;
        color: black;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    .menu-extin-content {
        display: none;
        position: absolute;
        background-color: #9400d3;
        min-width: 85px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 10px 16px;
    }

    .dropdown:hover .menu-eras-content{
        display: block;
    }

    .dropdown:hover .menu-periods-content{
        display: block;
    }

    .dropdown:hover .menu-first-content{
        display: block;
    }

    .dropdown:hover .menu-extin-content{
        display: block;
    }

    .dropdown:hover .menu-eras {
        background-color: #ffba3e;
    }

    .dropdown:hover .menu-periods {
        background-color: #ffaf20;
    }

    .dropdown:hover .menu-first{
        background-color: rgb(148,38,148);
    }

    .dropdown:hover .menu-extin{
        background-color: rgb(133,0,169);
    }

    .checklist {
        float: left;
        padding-right: 8px;

    .input[type=submit]{
        background-color: #ffa500;
        background-image: linear-gradient(to right, #ffa500, purple)
    }

</style>
<form action="/" method="post" style="padding-left:15px;">
    <div class="dropdown">
        <button class="menu-eras">Times: Eras
        <div class="menu-eras-content">
            <input type="checkbox" name="era" class="checklist" value="eoarchean"><p>Eoarchean</p>
            <input type="checkbox" name="era" class="checklist" value="paleoarchean"><p>Paleoarchean</p>
            <input type="checkbox" name="era" class="checklist" value="mesoarchean"><p>Mesoarchean</p>
            <input type="checkbox" name="era" class="checklist" value="neoarchean"><p>Neoarchean</p>
            <input type="checkbox" name="era" class="checklist" value="paleoproterozoic"><p>Paleoproterozoic</p>
            <input type="checkbox" name="era" class="checklist" value="mesoproterozoic"><p>Mesoproterozoic</p>
            <input type="checkbox" name="era" class="checklist" value="neoproterozoic"><p>Neoproterozoic</p>
            <input type="checkbox" name="era" class="checklist" value="paleozoic"><p>Paleozoic</p>
            <input type="checkbox" name="era" class="checklist" value="mesozoic"<p>Mesozoic</p>
            <input type="checkbox" name="era" class="checklist" value="cenozoic"><p>Cenozoic</p>
        </div>
    </div>
    
    <div class="dropdown">
        <button class="menu-periods">Times: Periods
        <div class="menu-periods-content" style="columns:2;">
            <input type="checkbox" class="checklist" value="siderian"><p>Siderian</p>
            <input type="checkbox" class="checklist" value="rhyacian"><p>Rhyacian</p>
            <input type="checkbox" class="checklist" value="orosirian"><p>Orosirian</p>
            <input type="checkbox" class="checklist" value="statherian"><p>Statherian</p>
            <input type="checkbox" class="checklist" value="calymmian"><p>Calymmian</p>
            <input type="checkbox" class="checklist" value="ecstasian"><p>Ecstasian</p>
            <input type="checkbox" class="checklist" value="stenian"><p>Stenian</p>
            <input type="checkbox" class="checklist" value="tonian"><p>Tonian</p>
            <input type="checkbox" class="checklist" value="cryogenian"><p>Cryogenian</p>
            <input type="checkbox" class="checklist" value="ediacaran"><p>Ediacaran</p>
            <input type="checkbox" class="checklist" value="cambrian"><p>Cambrian</p>
            <input type="checkbox" class="checklist" value="ordovician"><p>Ordovician</p>
            <input type="checkbox" class="checklist" value="silurian"><p>Silurian</p>
            <input type="checkbox" class="checklist" value="devonian"><p>Devonian</p>
            <input type="checkbox" class="checklist" value="carboniferous"><p>Carboniferous</p>
            <input type="checkbox" class="checklist" value="cermian"><p>Permian</p>
            <input type="checkbox" class="checklist" value="triassic"><p>Triassic</p>
            <input type="checkbox" class="checklist" value="jurassic"><p>Jurassic</p>
            <input type="checkbox" class="checklist" value="cretaceous"><p>Cretaceous</p>
            <input type="checkbox" class="checklist" value="paleogene"<p>Paleogene</p>
            <input type="checkbox" class="checklist" value="neogene"><p>Neogene</p>
            <input type="checkbox" class="checklist" value="quarternary"><p>Quarternary</p>
        </div>
    </div>
    
    <div class="dropdown">
        <button class="menu-first">First appearances
        <div class="menu-first-content">
            <input type="checkbox" class="checklist" value="first-life"><p>First life</p>
            <input type="checkbox" class="checklist" value="first-animals"><p>First animals</p>
            <input type="checkbox" class="checklist" value="first-fish"><p>First fish</p>
            <input type="checkbox" class="checklist" value="first-land-plants"><p>First land plants</p>
            <input type="checkbox" class="checklist" value="first-insects"><p>First insects</p>
            <input type="checkbox" class="checklist" value="first-land-animals"><p>First land animals</p>
            <input type="checkbox" class="checklist" value="first-amphibians"><p>First amphibians</p>
            <input type="checkbox" class="checklist" value="first-reptiles"><p>First reptiles</p>
            <input type="checkbox" class="checklist" value="first-mammals"><p>First mammals</p>
            <input type="checkbox" class="checklist" value="first-birds"><p>First birds</p>
        </div>
    </div>
    
    <div class="dropdown">
        <button class="menu-extin">Mass extinctions
        <div class="menu-extin-content">
            <input type="checkbox" class="checklist"><p>Ordovician-Silurian extinction</p>
            <input type="checkbox" class="checklist"><p>Late Devonian extinction</p>
            <input type="checkbox" class="checklist"><p>Permian-Triassic extinction</p>
            <input type="checkbox" class="checklist"><p>Triassic-Jurassic extinction</p>
            <input type="checkbox" class="checklist"><p>Cretaceous-Paleogene extinction</p>
            <input type="checkbox" class="checklist"><p>Holocene extinction</p>
        </div>
    </div>
    <input type="submit">
    </form>

<div class="timeline"></div>
<div class="era-background"></div>
<div class="period-background"></div>

<div class="text-left">4 b.y.a.</div>
<div class="text-right">Present</div>

{% if 'eoarchean' in era %}
<div class="era" title="Eoarchean: 4,000-3,600 m.y.a." style="width:124px;margin-left:-635px;"></div>
{% endif %}
{% if 'paleoarchean' in era %}
<div class="era" title="Paleoarchean: 3,600-3,200 m.y.a." style="width:124px;margin-left:-510px;"></div>
{% endif %}
{% if 'mesoarchean' in era %}
<div class="era" title="Mesoarchean: 3,200-2,800 m.y.a." style="width:124px;margin-left:-385px;"></div>
{% endif %}
{% if 'neoarchean' in era %}
<div class="era" title="Neoarchean: 2,800-2,500 m.y.a." style="width:93px;margin-left:-260px;"></div>
{% endif %}
{% if 'paleoproterozoic' in era %}
<div class="era" title="Paleoproterozoic: 2,500-1,600 m.y.a." style="width:280px;margin-left:-166px;"></div>
{% endif %}
{% if 'mesoproterozoic' in era %}
<div class="era" title="Mesoproterozoic: 1,600-1,000 m.y.a." style="width:187px;margin-left:115px;"></div>
{% endif %}
{% if 'neoproterozoic' in era %}
<div class="era" title="Neoproterozoic: 1,000-541 m.y.a." style="width:142px;margin-left:302px;"></div>
{% endif %}
{% if 'paleozoic' in era %}
<div class="era" title="Paleozoic: 541-252 m.y.a." style="width:89px;margin-left:445px;"></div>
{% endif %}
{% if 'mesozoic' in era %}
<div class="era" title="Mesozoic: 252-66 m.y.a." style="width:57px;margin-left:535px;"></div>
{% endif %}
{% if 'cenozoic' in era %}
<div class="era" title="Cenozoic: 66-0 m.y.a." style="width:22px;margin-left:593px;border-right:#ffc87c"></div>
{% endif %}

<div class="timeline-era" title="First life: 3.7 billion y.a." style="margin-left:-541px;top:70%;"></div>

{% endblock %}