<!--This file was separate from index.html to make adding more pages in the future easier.-->

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1. width=device-width">
        <link rel="stylesheet" href="static/app-style.css">
        <title>The Time Was Then, A Way Back Year</title>
        <style>
            .header {
                margin-left:30px;
            }
        </style>
    </head>
    <h2 style="font-family:'Verdana',Helvetica,Georgia;font-size:20px;">The Time Was Then</h2>
    <br>
    <body>
        {% block body%}{% endblock %}
    </body>
</html>
